<aside class="sidebar" [class.collapsed]="collapsed()">
  <div class="sidebar-logo">
    <mat-icon class="logo-icon">favorite</mat-icon>
    @if (!collapsed()) {
      <span class="logo-text">IDoList</span>
    }
  </div>

  <mat-nav-list>
    @for (item of navItems; track item.route) {
      <a mat-list-item
         [routerLink]="item.route"
         routerLinkActive="active"
         (click)="navItemClicked.emit()"
         [matTooltip]="collapsed() ? item.label : ''"
         matTooltipPosition="right">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>{{ item.label }}</span>
        }
      </a>
    }
  </mat-nav-list>
</aside>
